*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

html {
  font-size: 16px;
  font-family: system-ui, sans-serif,'Poppins';
  /* scroll-behavior: smooth; */
  overflow: auto;
}
  

.comercilizacao{
    background-color: #2563EB;
    margin-block-start: 4.2rem;
    color: white;
    padding: 2rem;
    font-size: 1.2rem;
    h1{
        margin-block-end: 1rem;
    }
}
.titulo-comercilizacao{
    margin-block-start: 25px;
    .b2g{
        background-color: #111;
        color: white;
        padding: 5px;
        border-radius: 10px;
    }
    h2,p{
        text-align: center;
    }
    h3{
        font-weight: bold;
    }
    .titulo-publico{
        text-align: center;
        margin-block: 1.5rem;
        h3{
            font-size: 2rem;
        }
    }
}
.privado{
     margin-block-start: 4rem;
    .b2b{
        background-color: #111;
        color: white;
        padding: 5px;
        border-radius: 10px;
        text-align: center;
    }
   .titulo{
        text-align: center;
        h3{
            font-size: 2rem;
        }
   }
}
.cards-investimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    .cards{
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid #64748B;
        border-radius: 7px;
        width: 90%;
        .investment{
            font-size: 0.90rem;
            color: #64748B;
        }
        h4{
            font-size: 1.5rem;
        }
        p{
            font-size: 0.90rem;
            color: #64748B;
        }
        ul{
            list-style: none;
            margin-block: 12px;
        }
        li::before{
            content: "✔ ";
        }
        .price{
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
}
.talk-to-sales{
    padding-block:25px;
    background-color: #64748b17;
    gap: 12px;
    display: flex;
    flex-direction: column;
    .plan{
        text-align: center;
        h3{
            font-size: 2rem;
        }
    }
    .card{
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid #64748B;
        border-radius: 7px;
        width: 90%;
        margin-inline:auto ;
        ul{
            list-style: none;
        }
        li::before{
            content: "✅ ";
        }
        button{
            margin-block-start: 1rem;
            padding: 5px;
            background-color: white;
            border: 1px solid gray;
            border-radius: 8px;
        }
        span{
            font-size: 2rem;
            font-weight: bold;
            margin-block-end: 1.5rem;
            b{
                font-size: 0.90rem;
                font-weight: 100;
            }
        }
        p{
            margin-block-end: 1.5rem;
        }
        h4{
            font-size: 1.5rem;
            margin-block-end: 1.5rem;
        }
    }
    .card:nth-child(3){
        button{
            background-color: #111;
            color: white;
        }
    }
}
.porque-zenith{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    h3{
        margin-block-start: 40px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid #64748B;
        border-radius: 7px;
        width: 90%;
    }
}
.end{
    margin-block-start: 30px;
    padding: 20px;
    background-color: #2563EB;
    color: white;
    .button{
        margin-block-start: 2rem;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }
    .request{
        background-color: white;
        color: black;
        border: none;
        padding: 12px;
        border-radius: 12px;
    }
    .see-cases{
        background: none;
        border: white solid 1px;
        color: white;
        padding: 12px;
        border-radius: 12px;
        &:hover{
            background-color: white;
            color: #2563EB;
        }
    }
}
