  /* META */

:root {
  /* Cores principais */
  --cor-principal1: #0B1F3A;
  --cor-principal2: #2563EB;
  --cor-principal3: #3882F6;
  --cor-principal4: #7C3AED;
  --cor-principal5: #F8FAFC;
  /* Cores Neutras */
  --cor-neutra1: #020617;
  --cor-neutra2: #1E293B;
  --cor-neutra3: #64748B;
  --cor-neutra4: #E2E8F0;
  --cor-neutra5: #FFFFFF;
  /* Fontes */
  --fonte-titulos: 'Poppins', sans-serif, system-ui;
  /* Gradiente */
  --gradiente: linear-gradient(to right, #0B1F3A, #2563EB, #7C3AED);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: system-ui, sans-serif;
  /* scroll-behavior: smooth; */
  /* overflow: auto; */
  background-color: black;
  scroll-behavior: smooth;
}

body { overflow-x: hidden; } /* Evitando que a pagina crie uma barra lateral */

main::before{
  content: '';

  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);

  z-index: -1;
}

main{
  position: relative;
  isolation: isolate;
  background-image: url(../imagens/fundo.jpeg);
  background-size: cover;
}

h1, nav, nav a { 
  text-shadow: 0 0 10px black;
  color: var(--cor-principal5);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  /* background-color: #020617; */
  /* colocando imagem de fundo para evitar mostrar um fundo estranho antes do video começar */
  video {
    /* background-image: url(../imagens/fundo-video.jpg); */
    position: absolute;
    z-index: -2;  
    width: 100vw;
    height: 100vh;
    /* opacity: 0.5; */
    object-fit: cover;
    animation-name: esmaecer;
    animation-timing-function: ease-in;
    animation-duration: 12s;
    animation-fill-mode: forwards;
  }
}

h1 {
  position: absolute;
  top: 20vh;
  
  font-size: clamp(4rem, 10vw, 16rem);
  
  /* espaço para a linha */
  padding-bottom: 1rem;
  
  font-family: var(--fonte-titulos);
}

/* linha com gradiente abaixo do titulo */
.linha-gradiente::after {
  content: '';
  
  position: absolute;
  top: 20vh;
  
  /* faz a linha começar antes do texto */
  left: -15vw;
  
  /* aumenta além do tamanho do h1 */
  width: calc(100% + 30vw);
  
  height: 3px;
  
  background: var(--gradiente);
}

.cabecalho h2{position: relative;}

.cabecalho .linha-gradiente::after {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
}

nav {
  /* Flex */
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: s; */
  align-content: flex-start;
  gap: 5px;
  
  /* Posição */
  z-index: 5;
  
  a{
    font-size: clamp(1rem, 1.2vw, 60px);
    position: relative;
    transition: 0.3s ease-in-out;
    
    &:hover, &:focus-visible{
      color: var(--cor-principal3);
      text-shadow: 0 0 10px #00000049;
      &::after{
        animation-name: transicao_barra_links;
        animation-duration: 0.3s;
        opacity: 1;
      }
    }
  }
  
  .linha-gradiente::after{
    position: absolute;
    height: 3px;
    width: 120%;
    left: -10%;
    top: 90%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

#titulo-nav{
  font-size: clamp(1.5rem, 3vw, 8rem);
  font-family: var(--fonte-titulos);
  opacity: 0;
  transition: opacity 0.5s ease;
  text-shadow: black 0px 0px 20px;
}

#titulo-nav.visivel{opacity: 1;}

.links-menu{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #070d1b9c;
  box-shadow:  0 0 20px black;
  width: 100vw;
  min-height: fit-content;
  height: 3vw;
}

.cta-header{
  position: absolute;
  top: 50vh;
  text-align: center;
  font-size: clamp(1rem, 3vw, 8rem);
  color: var(--cor-neutra4);
  text-shadow: 0 0 10px black;
  
  p{
    user-select: none;
    /* z-index: 999; */
    position: relative;
    font-size: clamp(1rem, 1.6vw, 8rem);
    margin-inline: 10px;
    margin-block: 1rem;
  }
}

.cta-header, .pronto-para-transformar{
  a, a #cta-transformar{
    font-family: 'Inter', sans-serif;
    display: inline-block;
    position: relative;
    /* z-index: 999; */
    color: var(--cor-neutra5);
    font-size: clamp(1rem, 1.8vw, 6rem);
    width: fit-content;
    text-decoration: none;
    background-color: hsla(217, 33%, 17%, 0.7);
    border-radius: 10px;
    padding: 5px 20px;
    box-shadow: 0 0 10px black;
    text-shadow: none;
    margin: 10px;
    border: 1px solid #2564eb80;
    /* &::after{content: ' →';} */
  }
  
  a:hover, a:focus-visible{ 
    color:var(--cor-principal2); 
    box-shadow: 0 0 2px var(--cor-principal2);
  }     
}

#botao-rolar{
  /*Tamanho  */
  width: 52px;
  height: 52px;  
  /* Posição */
  /* z-index: 999; */
  position: fixed;
  top: 90vh;
  z-index: 3;
  /* Animação */
  animation-name: sobe_desce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
  /* Estilização */
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px gray solid;
  padding: 10px;
  border-radius: 100%;
  user-select: none;
}

.compromisso{
  height: 50vh;
  min-height: fit-content;
  ul{
    margin-inline-start: 1rem ;
  }
}

.como-funciona{height: 100vh;}

.como-funciona, .compromisso { 
  display: flex;
  isolation: isolate;
  position: relative;
  flex-direction: column;
  font-size: clamp(0.8rem, 2vw, 3rem);
  min-height: fit-content;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  /* background-color: var(--cor-neutra1); */
  color: var(--cor-principal5);
  text-shadow: 0 0 10px black;
  
  img{
    width: 150px;
    height: auto;
    /* box-shadow: 0 0 20px var(--cor-neutra1); */
  }
}

.como-funciona, .problemas-que-resolvemos, .compromisso{
  p{
    font-size: clamp(0.8rem, 1.5vw, 4rem);
    margin: 0 auto;
  }
  
  .cabecalho {
    
    h2{
      font-size: clamp(1.5rem, 3vw, 8rem);
      font-family: var(--fonte-titulos);
    }
  }
  
}

.card{
  
  display: flex;
  max-width: 800px;
  gap: 1rem;
  color: var(--cor-principal5);
  text-shadow: 0 0 10px black;
  padding: 1rem;
  padding-block-end: 2rem;
  border-radius: 10px;  
  user-select: none;
  transition: ease-in-out 0.1s;
  &:hover, &:focus-visible{
    transform: scale(1.008);
  }
  
  h2, h3, p{
    width: 100%;
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 3rem);
  }
  
  ul{
    margin-inline-start: 5%;
  }
  
  p, li{
    /* text-align: left; */
    font-size: clamp(1rem, 1vw, 6rem);
  }
}

.problemas-que-resolvemos{
  color: var(--cor-principal5);
  height: 50vh;
  min-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
}

.cabecalho{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.problemas-que-resolvemos, .compromisso {
  .cards{
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
    justify-content: space-around;
  }
  
  .card{
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: hsla(217, 33%, 17%, 0.8);
    box-shadow: 0 0 5px black;
  }
}
.compromisso .card {border-inline-end: solid 10px var(--cor-principal4);}
.problemas-que-resolvemos .card{ border-inline-end: solid 10px var(--cor-principal2);}

.pronto-para-transformar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  background-image: linear-gradient(to right,#7C3AED,#2563EB,#0B1F3A);
  padding: 2rem;
  color: var(--cor-principal5);
  h2,p{
    padding: 5px;
    text-shadow: 0 0 10px black;
  }
}

footer {
  /* background-color: black; */
  color: white;
  font-size: clamp(0.8rem, 0.8vw, 3rem);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background-color: var(--cor-principal1);
  /* z-index: 4; */
  a {
    color: white;
    &:hover, &:focus-visible{
      color: var(--cor-principal3)
    }
  }
}


.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.logo-original { width: clamp(50px, 8vw, 150px); }

@keyframes sobe_desce{
  from{transform: translateY(10px);}
  to{transform: translateY(-10px);}
}

@keyframes transicao_barra_links {
  from { transform: scaleX(0.1) ; }
  to { transform: scaleX(1) ; }
}

@keyframes esmaecer{
  from{opacity: 1;}
  to{opacity:0.7;}
}