*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

html {
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}

.hero video {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 200px;
}

.hero-links {
  display: flex;
  gap: 1rem;
}

h1, .hero-links a {
  color: white;
}

h1 {
  font-size: 3rem;
}

a { text-decoration: none; }

.hero-links a {
  font-size: 1rem;
}

.pause-button {
  position: absolute; z-index: 1; right: 0.5rem; top: 0.5rem;
  width: 30px;
  height: 30px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}


.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer a {
  color: white;
}

footer a:hover {
  color: yellow;
}