*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

html {
  font-size: 16px;
}

body{ overflow-x: hidden;}

h1, nav a { color: white; }

h1 { font-size: 3rem; }

a { text-decoration: none; }

h1, nav {text-shadow: 0 0 10px black;}



header{
  display: flex;
  justify-content: center;

  position: relative;
  
  width: 100vw;
  height: 100vh;
  
  background-color: rgb(104, 89, 4);
}

header video {
  position: absolute;
  z-index: 0;
  
  opacity: 0.8;
  
  width: 100vw;
  height: 100vh;
  object-fit: cover;

  margin: 0;
  padding: 0;
}

h1{
  position: absolute;
  top: 40vh;

  font-size: 12vw ;
  
  padding-block-end: 0;
  border-block-end: 2px solid transparent;
  
  border-image: linear-gradient(to right, #0B1F3A, #2563EB, #7C3AED) 1;
}

#butao{
  z-index: 1;

  width: 45px;
  height: 45px;

  position:absolute;
  top: 80vh;
  
  animation-name: sobe_desce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px gray solid;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  
  z-index: 1;
  
  
  width: 95%;

  margin-block-start: 5rem ;

  a{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.048);
    text-align: center;
    margin-block: auto;
    flex-basis: 20%;
    border-radius: 5px;
    padding: 1vw 5px;
    box-shadow: 0 0 10px black;
    font-size: 2.9vw;
  }
}

.pause-button {
  position: absolute; z-index: 1; right: 1rem; top: 1rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
/* Estilização Index */
.start-section {  
  padding: 5px;
  background-color: #2563eb;
  h2{
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin-block: 1rem;
    color: white;
  }
  p{
    color: white;
  }

  .conhecer{
    margin-block:1rem;
    padding: 1rem 2rem;
    font-size: 0.75rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .conhecer::after {
    content: ' →';
  }
  .saiba-mais{
    padding: 1rem 2rem;
    font-size: 0.70rem;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
  }
}
.problemas-que-resolvemos{
  h2{
    text-align: center;
    margin-block: 12px;
  }
  p{
    text-align: center;
    margin-block:8px
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-block: 2rem;
  }
  .card{
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 1rem;
    width: 300px;
    border: solid 2px black;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    
  }
  .titulo-card{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}
.como-funciona{
  h3{
    padding-inline: 5px;
    margin-block: 12px;
  }
  p{
    padding-inline: 5px;
    margin-block:8px
  }
}
.mapa-interativo{
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 1rem;
  width: 80%;
  margin: auto;
  border: solid 2px black;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.compromisso{
  
  h3{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  p{
    font-size: 1.5rem;
    text-align: center;
  }
  article{
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 1rem;
    border:solid 2px black;
    margin-block:10px ;
    width: 90%;
    margin-inline:auto;
  }
  ul{
    list-style: none;
  }
}
.pronto-para-transformar{
  background-color: #2563EB;
  padding: 1rem;
  h3{
    color: white;
    text-align: center;
  }
  p{
    color: white;
  }
  button{
    padding: 1rem 2rem;
    font-size: 0.70rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    margin-block: 12px;
  }
}



/* Footer */
footer {
  background-color: black;
  color: white;
  font-size: clamp(10px, 1vw, 5rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  height: 200px;
}


.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer a {
  color: white;
}

footer a:hover {
  color: yellow;
}

@keyframes sobe_desce{
  from{transform: translateY(10px);}
  to{transform: translateY(-10px);}
}